@import "../../../index.scss";

.task {
  background-color: $mainBlue;
  max-width: 18rem;
  width: 100%;
  height: 10rem;
  color: $white;
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: grab;
  .task__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.5rem 0;
  }
  .task__title {
  }
}
